.card 
  %h2 What happened on #{@month}/#{@day}
  - @cards.each do |card|
    .entry 
      .year
        = card.year
        .dow= day_of_the_week_for(card) 
      .text= card.entry
      %br.clear
    %br.clear
