= form_for [current_user, @card] do |f|
  - if @card.errors.any?
    #error_explanation
      %ul
        - @card.errors.full_messages.each do |msg|
          %li{:for => 'card_entry'} 
            = msg
            %p &#9654;
  .card
    %h2 Whats happening on #{@month}/#{@day}
    .entry 
      .year= Time.zone.now.year
      .text
        = f.text_area :entry, :rows => '5', :cols => 45
      %br.clear
    %br.clear
    - if params[:action] == 'forgot'
      = hidden_field_tag  :yesterday, 'true'
  = f.submit 'Write Card', :class => 'submit'
