.row
  .span8.offset2
    = form_for  [current_user, @card],
                :html => { :class => 'new_card form-horizontal' },
                :builder => BootstrapFormBuilder do |f|
      %fieldset
        %legend #{@month} / #{@day} / #{Date.yesterday.year}
        = f.text_area :entry, :rows => '4', :class => 'span5'
        - if @day == Date.yesterday.day
          = hidden_field_tag  :yesterday, 'true'
      - if current_user.vet?
        %fieldset#vetshift
          %legend
            Vet Shift Information
            = link_to "I don't want to submit a vet shift", '#', :id => 'no_shift_link', :class => 'btn btn-danger btn-small pull-right'
          = f.select  :rotation,
                      Card::SHIFTS.map { |id, name| [name, id] },
                      { :include_blank => true }
          = f.text_field :time_in,  :placeholder => 'May 5, 3:00pm',
                                    :value => @card.time_in
          = f.text_field :time_out, :placeholder => 'May 5, 9:00pm',
                                    :value => @card.time_out
          = f.text_field :notes_duration, :placeholder => '1h 35m',
                                    :value => @card.notes_duration

      = f.submit 'Save Card'
