%nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
  .container-fluid
    = link_to "Notecards", :root, class: "navbar-brand"
    %button.navbar-toggler{ type: :button, "data-toggle": :collapse,
                            "data-target": "#navbar-nav", "aria-controls": "navbar-nav",
                            "aria-expanded": "false", "aria-label": "Toggle navigation" }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-nav
      %ul.navbar-nav
        - if user_signed_in?
          %li.nav-item
            = link_to home_path, class: "nav-link" do
              Today's Card
          %li.nav-item
            = link_to profile_path(current_user.username), class: "nav-link" do
              Cardbox
          %li.nav-item
            = link_to settings_path, class: "nav-link active" do
              Settings
          %li.nav-item

          %span.navbar-text
            -# .avatar{ :style => "float: left; background-image: url(#{current_user.gravatar(28)});" }
            Logged in as #{current_user.username}
          %li.nav-item
            = link_to destroy_user_session_path, :method => 'delete', class: "nav-link active" do
              Log out
        - else
          %li.nav-item
            = link_to new_user_session_path, class: "nav-link active" do
              Log In