!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title Notecards
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/nav'
    .container-flex{ id: [params[:controller], '_', params[:action]].join }
      = render partial: 'layouts/notice'
      = yield
